h1{
    color: red;
}

th {
    text-align: center;
}

.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.frm-btn:hover{
    background-color: rgb(42, 150, 0);
}